<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About author</title>
    <style>
        body {
            background-image: url("/images/construction.webp");
            background-repeat: no-repeat;
            background-size: cover;             /* Показує зображення повністю */
            background-position: center;          /* Центрує зображення */
            background-attachment: fixed;
            background-color: #f2f2f2;            /* Фоновий колір для порожніх ділянок */
        }
    </style>

</head>
<body>

</body>
</html>